#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 450px;
    place-items: center;
   margin-top: 30px;
   
}

button{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 100px;
    margin: 1px;
    font-size: 20px;
    background-color: rgb(56, 56, 56);
    color: azure;
   
}
button:hover{
background-color: rgb(29, 29, 29);
}

input{
   
    height: 120px;
    border: none;
    outline: none;
    text-align: end;
    background-color: black;
    color: azure;
    font-size: 30px;
}

#backspace {
    text-align: right;
    margin-right: 30px;
    height: 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
    background-color: black;
 
}
body{
    background-color: black;
}

#clear {
    color: rgb(238, 101, 101);
}

#bracket {
    color: rgb(107, 226, 107);
}

#percent {
    color: rgb(107, 226, 107);
}

#add {
    color: rgb(107, 226, 107);
}
#division {
    color: rgb(107, 226, 107);
}
#product {
    color: rgb(107, 226, 107);
}

#sub {
    color: rgb(107, 226, 107);
}
#equal {
    color: rgb(107, 226, 107);
}

.mini{
    width: 450px;
}
